@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300&family=Roboto:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

header {
  width: 100%;
  height: 75px;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
  font-size: 40px;
  background: rgb(0, 0, 0);
  color: rgb(238, 238, 238);
  line-height: 75px;
  margin-bottom: 50px;
  float:left;
}

#nav ul{
  display: none;
  top: 100%;
}

#nav, #nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav {
  left: 20px;
  top: 18.75px;
  position: absolute;
}

#nav li {
  float: left;
  position: relative;
  height: 100%;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
  font-size: 20px;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
}

#nav li a {
  display: block;
  padding: 6px;
  width: 100px;
  height: 25;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 25px;
}

#nav ul li {
  float: none;
}

#nav ul li:hover {
  background-color: rgb(100, 100, 100);
}

#nav li:hover ul {
  display: block;
}

main {
  width: 70%;
  margin-left: 12.5%;
  background: #ececec;
  border: 1px solid silver;
  padding: 20px 2.5%;
  float:left;
  text-align: center;
}

main {
  width: 70%;
  margin-left: 12.5%;
  background-color: rgb(200, 200, 200, 0.9);
  border: 1px solid rgb(141, 140, 140);
  padding: 20px 2.5%;
  float:left;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
  border-radius: 10px;
}
